/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

:root {
  --red: #cc2a17;
}
/* for screen readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* reset everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  align-content: start;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: minmax(320px, 1fr);
}

/* header styles */
header {
  align-items: flex-start;
  display: flex;
  font-family: "Seymour One", display;
  justify-content: center;
  position: relative;
}

header img {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

header h1 {
  color: goldenrod;
  padding-top: 200px;
  text-shadow: 1px 1px 10px black;
  z-index: 2;
}

.button-inline {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.message:not(:empty) {
  border: 3px solid var(--red);
  color: var(--red);
  border-radius: 5px;
  padding: 0.5rem;
}

main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 680px;
  padding: 1rem 2rem;
}

main .instructions-tag {
  font-size: 0.75rem;
  margin: 1rem 0;
}

form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

form [name="code"] {
  flex: 3;
}

form [type="submit"] {
  background: var(--red);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

form [type="submit"]:hover,
form [type="submit"]:active {
  background: darkred;
  border: none;
  border-radius: 5px;
  color: white;
}

.books {
  list-style: none;
}

.book {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0.5rem;
  position: relative;
}

.book-title {
  color: darkblue;
  font-size: 1rem;
}

.book-remove {
  color: var(--red);
}
